@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #19192e;
  --header-color: #1f1f39;
  --logo-color: #eea86c;
  --text-color: #ffff;
  --bg2-color: #9393aa;
  --lines-color: #979797;
}
